# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# Ansible
*.retry

# Secrets / SSH
*.pem
*.key
.env
.env.*
!.env.example

# OS / Editor
.DS_Store
*.swp
.vscode/
.idea/
